
   .form-label-left{
    width:150px;
}
.form-line{
    padding-top:12px;
    padding-bottom:12px;
}
.form-label-right{
    width:150px;
}
body, html{
    margin:0;
    padding:0;
    background:false;
}

.form-all{
    margin:0px auto;
    padding-top:20px;
    width:700px;
    color:#555 ;
    font-family:'Times New Roman';
    font-size:14px;
}
.form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
    color: #555;
}




.form-all {
font-family: "Times New Roman", sans-serif;
font-family: "Times New Roman", serif;
}
.form-all {
width: 700px;
}
.form-label-left,
.form-label-right {
width: 150px;
}
.form-label {
white-space: normal;
}
.form-label.form-label-auto {
display: inline-block;

text-align: left;
width: 150px;
}
.form-label-left {
display: inline-block;
white-space: normal;
text-align: left;
}
.form-label-right {
display: inline-block;
white-space: normal;
text-align: right;
}
.form-label-top {
white-space: normal;
display: block;
float: none;
text-align: left;
}
.form-all {
font-size: 14px;
}
.form-label {
font-weight: normal;
font-size: 0.95em;
}
.supernova {
background-color: #b8e6e6;
background-color: #ababab;
}
.supernova body {
background-color: transparent;
}
/*
@width30: (unit(@formWidth, px) + 60px);
@width60: (unit(@formWidth, px)+ 120px);
@width90: (unit(@formWidth, px)+ 180px);
*/
/* | */
@media screen and (min-width: 480px) {
.supernova .form-all {
border: 1px solid #929292;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}
}
/* | */
/* | */
@media screen and (max-width: 480px) {
.child-form-container {
padding: 10px 0;
}
}
/* | */
/* | */
@media screen and (min-width: 480px) and (max-width: 768px) {
.child-form-container {
padding: 30px 0;
}
}
/* | */
/* | */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.child-form-container {
padding: 60px 0;
}
}
/* | */
/* | */
@media screen and (min-width: 1024px) {
.child-form-container {
padding: 90px 0;
}
}
/* | */
.form-all {
background-color: #b8e6e6;
border: 1px solid transparent;
}
.form-header-group {
border-color: #92d9d9;
}
.form-matrix-table tr {
border-color: #92d9d9;
}
.form-matrix-table tr:nth-child(2n) {
background-color: #a5dfdf;
}
.form-all {
color: #555555;
}
.form-header-group .form-header {
color: #555555;
}
.form-header-group .form-subHeader {
color: #6f6f6f;
}
.form-sub-label {
color: #6f6f6f;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html {
color: #6f6f6f;
}
.form-checkbox-item label,
.form-radio-item label {
color: #555555;
}
.form-line.form-line-active {
-webkit-transition-property: all;
-moz-transition-property: all;
-ms-transition-property: all;
-o-transition-property: all;
transition-property: all;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
-ms-transition-timing-function: ease;
-o-transition-timing-function: ease;
transition-timing-function: ease;
background-color: rgba(255, 251, 234, 0);
}
/* ömer */
.form-radio-item,
.form-checkbox-item {
padding-bottom: 0px !important;
}
.form-radio-item:last-child,
.form-checkbox-item:last-child {
padding-bottom: 0;
}
/* ömer */
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
width: 100%;
}
.supernova {
height: 100%;
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center top;
background-repeat: repeat;
}
.supernova {
background-image: none;
}
#stage {
background-image: none;
}
/* | */
.form-all {
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center top;
background-repeat: repeat;
}
.form-header-group {
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center top;
}
.form-line {
margin-top: 0px;
margin-bottom: 0px;
}
.form-line {
padding: 4px 40px;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
font-size: 1em;
padding: 9px 15px;
font-family: "Times New Roman", sans-serif;
font-family: "Times New Roman", serif;
font-size: 14px;
font-weight: normal;
}
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
font-size: 1em;
padding: 9px 15px;
font-family: "Times New Roman", sans-serif;
font-family: "Times New Roman", serif;
font-size: 14px;
font-weight: normal;
}
/*
&amp; when ( @buttonFontType = google ) {
@import (css) "@{buttonFontLink}";
}
*/
h2.form-header {
line-height: 1.618em;
font-size: 1.714em;
}
h2 ~ .form-subHeader {
line-height: 1.5em;
font-size: 1.071em;
}
.form-header-group {
text-align: left;
}
/*.form-dropdown,
.form-radio-item,
.form-checkbox-item,
.form-radio-other-input,
.form-checkbox-other-input,*/
.form-captcha input,
.form-spinner input,
.form-error-message {
padding: 4px 3px 2px 3px;
}
.form-header-group {
font-family: "Times New Roman", sans-serif;
font-family: "Times New Roman", serif;
}
.form-section {
padding: 0px 0px 0px 0px;
}
.form-header-group {
margin: 12px 36px 12px 36px;
}
.form-header-group {
padding: 24px 0px 24px 0px;
}
.form-header-group .form-header,
.form-header-group .form-subHeader {
color: #913a3a;
}
.form-textbox,
.form-textarea {
padding: 4px 3px 2px 3px;
}
[data-type="control_dropdown"] .form-input,
[data-type="control_dropdown"] .form-input-wide {
width: 150px;
}
.form-header-group {
border-bottom: none;
}
.form-label {
font-family: "Times New Roman", sans-serif;
font-family: "Times New Roman", serif;
}
li[data-type="control_image"] div {
text-align: left;
}
li[data-type="control_image"] img {
border: none;
border-width: 0px !important;
border-style: solid !important;
border-color: false !important;
}
.form-line-column {
width: auto;
}
.form-line-error {
overflow: hidden;
-webkit-transition-property: none;
-moz-transition-property: none;
-ms-transition-property: none;
-o-transition-property: none;
transition-property: none;
-webkit-transition-duration: 0.3s;
-moz-transition-duration: 0.3s;
-ms-transition-duration: 0.3s;
-o-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease;
-moz-transition-timing-function: ease;
-ms-transition-timing-function: ease;
-o-transition-timing-function: ease;
transition-timing-function: ease;
background-color: #fff4f4;
}
.form-line-error .form-error-message {
background-color: #ff3200;
clear: both;
float: none;
}
.form-line-error .form-error-message .form-error-arrow {
border-bottom-color: #ff3200;
}
.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error {
border: 1px solid #ff3200;
-webkit-box-shadow: 0 0 3px #ff3200;
-moz-box-shadow: 0 0 3px #ff3200;
box-shadow: 0 0 3px #ff3200;
}
.ie-8 .form-all {
margin-top: auto;
margin-top: initial;
}
.ie-8 .form-all:before {
display: none;
}
/* | */
@media screen and (max-width: 480px), screen and (max-device-width: 768px) and (orientation: portrait), screen and (max-device-width: 415px) and (orientation: landscape) {
.child-form-container {
padding: 0;
}
.form-all {
border: 0;
width: 100%;
max-width: initial;
}
.form-sub-label-container {
width: 100%;
margin: 0;
}
.form-input {
width: 100%;
}
.form-label {
width: 100%!important;
}
.form-line {
padding: 2% 5%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
input[type=text],
input[type=email],
input[type=tel],
textarea {
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
max-width: initial !important;
}
.form-input,
.form-input-wide,
.form-textarea,
.form-textbox,
.form-dropdown {
max-width: initial !important;
}
div.form-header-group {
padding: 24px 0px !important;
margin: 0 12px 2% !important;
margin-left: 5% !important;
margin-right: 5% !important;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
[data-type="control_button"] {
margin-bottom: 0 !important;
}
.form-buttons-wrapper {
margin: 0!important;
}
.form-buttons-wrapper button {
width: 100%;
}
table {
width: 100%!important;
max-width: initial !important;
}
table td + td {
padding-left: 3%;
}
.form-checkbox-item input,
.form-radio-item input {
width: auto;
}
.form-collapse-table {
margin: 0 5%;
}
}
/* | */

/*__INSPECT_SEPERATOR__*/
.child-form-container {
padding : 40px 0;
}

.form-all {
padding-top : 0;
border : 0 !important;
}

.arial {
font-family : Arial,sans-serif;
}

.georgia {
font-family : Georgia,serif;
}

.couriernew {
font-family : "Courier New",Courier,monospace;
}

.trebuchet {
font-family : "Trebuchet MS",Arial,Helvetica,sans-serif;
}

.arialblack {
font-family : arial black;
}

.form-submit-button {
box-shadow : none;
}

li[data-type="control_head"]:first-child, li[data-type=control_button] {
overflow : visible;
background-color : #fff !important;
padding : 10px 40px;
}

.form-section > [data-type="control_text"]:first-child, .form-html {
padding : 0;
}

hr {
border : 0;
border-bottom : 1px dotted #fff;
}

.form-line-column {
min-height : 65px;
}

.form-label {
margin-bottom : 4px;
font-size : 14px;
}

[data-type="control_dropdown"] .form-input, [data-type="control_dropdown"] .form-input-wide {
width : 100%;
}

.form-section > [data-type="control_text"]:first-child {
padding-bottom : 20px;
}

#id_5 {
width : 40% !important;
}

#id_6 {
width : 40% !important;
}

#id_7 {
width : 19.9% !important;
}

#id_10 {
width : 50% !important;
}

#id_11 {
width : 20% !important;
}

#id_12 {
width : 29.9% !important;
}

.form-radio-other-input {
width : 180px !important;
}